{% extends "Master/Master.twig" %}

{% block title %}Gynny{% endblock %}


{% block body_class %}no-header{% endblock %}

{% block content %}

	<section id="form" class="page-section margin-top">
		<div class="container">

			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<p>
						Your account has not yet been activated. Please check your email (spam folder?) And click on it
						The activation link, which we sent to you. If you can not have the linkany more You him <a
								href="{{ Router.Create("send-confirmation-email", {userId: model.UserId}) }}"><strong>here</strong></a>
						noch einmal anfordern.
					</p>

					<p>
						Back to
						<a href="{{ Router.Create("home") }}">
							Startsite
						</a>
					</p>
				</div>
				<div class="col-md-3"></div>

			</div>
		</div>
	</section>

{% endblock %}