{% extends "Master/Master.twig" %}

{% block title %}Gynny{% endblock %}


{% block body_class %}no-header{% endblock %}


{% block content %}


	<section class="page-section" style="margin-top: 50px">
		<div class="container">

			<div class="row">
				<p>
					Email is unsuccessfully sent!
				</p>
				<br>
				<p>
					Back to
					<a href="{{ Router.Create("home") }}">
						Startsite
					</a>
				</p>
			</div>
		</div>
	</section>


{% endblock %}