{% extends "Master/Master.twig" %}

{% block title %}Login{% endblock %}

{% block body_class %}no-header{% endblock %}

{% block content %}

	<section id="form" class="page-section margin-top">
		<div class="container">

			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<h2>Login</h2>
					<form class="onboard-form" method="post">
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label class="hidden" for="exampleInputEmail1">Email address</label>
									<input type="email" name="email" class="form-control" id="email"
										   placeholder="Email">
									<label for="email-error-length" class="register-error-label">
										Please enter Your email
									</label>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label class="hidden" for="exampleInputPassword1">Password</label>
									<input type="password" class="form-control disable-space" id="password"
										   name="password"
										   placeholder="Password">
									<label for="length-error" class="register-error-label">
										At least 8 characters long
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="remember-me">Remember Me?</label>
									<input type="checkbox" id="remember-me"
										   name="rememberMe"/>
								</div>
								<p class="text-left">
								<a href="#" data-target="#forgotPasswordModal" data-toggle="modal"><strong>Forgot
											your password?</strong></a>
								</p>
							</div>
							<div class="col-md-6">
								<p class="text-right">
									<button type="submit" id="submit-login-button" class="btn btn-light">Log in</button>
								</p>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</section>

	{% include 'Modal/ForgotPasswordModal.twig' %}

{% endblock %}
{% block footer_scripts %}
	<script type="text/javascript">

		$(document).ready(function () {
			$(".disable-space").on({
				keydown: function (e) {
					if (e.which === 32)
						return false;
				},
				change: function () {
					this.value = this.value.replace(/\s/g, "");
				}
			});

			HideLengthLabel();
			HideEmailLengthLabel();

			$("#submit-login-button").on("click", function (e) {
				var isValidPassword = CheckPasswordAndEmail();
				var isValidEmail = CheckEmailLength();

				if (isValidPassword == false || isValidEmail == false) {
					e.preventDefault();
				}
			});
		});

		function HideLengthLabel() {
			$('label[for="length-error"]').hide();
		}

		function HideEmailLengthLabel() {
			$('label[for="email-error-length"]').hide();
		}

		function CheckEmailLength() {

			var emailValue = $('#email').val();
			var previousColor = $('#email').css('border-color');

			var len = emailValue.length;

			var result = true;

			if (len < 1) {
				result = false;
				$('#email').css("border-color", "#F58473");
				$('label[for="email-error-length"]').show();

				setTimeout(function () {
					$('label[for="email-error-length"]').hide();
				}, 5000);

				setTimeout(function () {
					$('#email').css("border-color", previousColor);
				}, 5000);
			}

			return result;
		}

		/**
		 * @return {boolean}
		 */
		function CheckPasswordAndEmail() {
			var passwordValue = $('#password').val();
			var emailValue = $('#email').val();
			var len = passwordValue.length;
			var previousColor = $('#password').css('border-color');

			var isValid = true;

			if (len < 8) {
				isValid = false;
				$('#password').css("border-color", "#F58473");
				$('label[for="length-error"]').html("Must be at least 8 characters long").show();

				setTimeout(function () {
					$('label[for="length-error"]').hide();
				}, 5000);

				setTimeout(function () {
					$('#password').css("border-color", previousColor);
				}, 5000);

			} else {
				$.ajax({
					url: "compare-password-and-email",
					method: "POST",
					data: {
						email: emailValue,
						password: passwordValue
					},
					async: false,
					dataType: "json",
					success: function (response) {
						isValid = response.Success;

						if (isValid == false) {
							$('label[for="length-error"]').html('Password and email are not good!').show();
							$('#password').css("border-color", "#F58473");
							$('#email').css("border-color", "#F58473");

							setTimeout(function () {
								$('label[for="length-error"]').hide();
							}, 5000);

							setTimeout(function () {
								$('#password').css("border-color", previousColor);
								$('#email').css("border-color", previousColor);
							}, 5000);
						}
					}
				});
			}

			return isValid;
		}

	</script>
{% endblock %}