{% extends "Master/ErrorMaster.twig" %}

{% block title %}Error{% endblock %}


{% block head %}

{% endblock %}


{% block content %}
	<h1>Oops! There was an error!</h1>

	<p>
		Our team is informed about this error.
		Please go back and continue with whatever you wanted to do, but try to fix the things that caused this error.
	</p>

	<p>If you feel like you did everything correctly, but this page still appears to you, it might be possible
		there is some bug in our program. Should you need any assistance, please contact tech support.</p>
{% endblock %}